* {
  box-sizing: border-box;
}

.AppHeader {
  height: 10vh;
  background-color: aquamarine;
}

.CardImg {
  height: 350px;
  width: 350px;
  border: none;
}
.ThumbnailImg {
  height: 150px;
  width: 150px;
}
