.CardContainer {
  height: 400px;
  max-width: 150px;
  word-wrap: break-word;
  text-align: center;
  position: relative;
  border: 1px solid lightblue;
  border-bottom: none;
  border-radius: 5px;
}
.PhotoTitle {
  padding: 0 5px 0 5px;
  font-size: 20px;
  font-family: plexmono;
}
.ViewBtn {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%);
  width: 100%;
}

.EditBtns {
  position: absolute;
  bottom: 10%;
  right: 0;
  cursor: pointer;
}
.ThumbnailImg {
  cursor: pointer;
  width: 150px;
  height: 150px;

}
.TitleEdit {
  width: 100%;
}
@media (max-width: 576px) {
  .PhotoTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .CardContainer {
    height: 300px;
  }
  .EditBtns {
    bottom: 12%;
  }
}
